body {
  grid-template-areas: "main";
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%;
}
nav {
  height: 100%;
}

li {
  background-color: rgb(214, 214, 99);
  padding: 1.5em;
  height: 1.563em;
  text-align: center;
  border: 0.125em dotted rgb(35, 51, 104);
}
li:hover {
  background-color: #ebe7d5;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
header {
  background-color: yellow;
  padding: 2em;
  margin: auto;
  height: 1.563em;
  text-align: center;
  border: 0.125em dotted rgb(35, 51, 104);
}
.header:hover {
  background-color: #cec9ad;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
